/* 网页常见样式 */
*{margin:0;padding:0}
li{list-style:none;}
a{text-decoration:none;}

/* 头部样式 */
div.wrap>div.header{width:100%;height:80px;border-bottom:1px solid #F44336;overflow:hidden;}
div.wrap>div.header>div.nav{width:1140px;height:40px;margin:20px auto;}

div.wrap>div.header>div.nav>ul.nav-left{width:150px;height:40px;float:left;}
div.wrap>div.header>div.nav>ul.nav-left>li{float:left}
div.wrap>div.header>div.nav>ul.nav-left>li.left-1{width:29px;height:40px;float:left}
div.wrap>div.header>div.nav>ul.nav-left>li.left-2{font:800 30px 微软雅黑;line-height:40px;margin-left:5px;}
div.wrap>div.header>div.nav>ul.nav-left>li.left-2>span{color:#f44336}
div.wrap>div.header>div.nav>ul.nav-right{width:365px;height:40px;float:right;}
div.wrap>div.header>div.nav>ul.nav-right>li{float:left;margin-left:26px;line-height:40px;}
div.wrap>div.header>div.nav>ul.nav-right>li.active{border-bottom:2px solid #f44336}
div.wrap>div.header>div.nav>ul.nav-right>li>a{color:#000}
div.wrap>div.header>div.nav>ul.nav-right>li>a:hover{color:#f44336}

/* main样式 */
/* m1样式 */
div.wrap>div.main>div.m1{width:100%;height:400px;}
div.wrap>div.main>div.m1>div.content{width:1140px;height:400px;margin:0 auto;overflow:hidden}
div.wrap>div.main>div.m1>div.content>h1{font:30px Roboto;text-align:center;margin:20px 0 20px 0;}
div.wrap>div.main>div.m1>div.content>div.m1-left{float:left}
div.wrap>div.main>div.m1>div.content>div>p{color:#686868;font:14px Roboto;margin:10px 0;}
div.wrap>div.main>div.m1>div.content>div.m1-left>input{width:550px;height:40px;outline:none;border:2px solid #DBDBDB}
div.wrap>div.main>div.m1>div.content>div.m1-right{float:right}
div.wrap>div.main>div.m1>div.content>div.m1-right>textarea{width:550px;height:204px;outline:none;resize:none;border:2px solid #DBDBDB}
div.wrap>div.main>div.m1>div.content>div.m1-right>input{display:block;width:83px;height:41px;background:#F44336;outline:none;font:20px Roboto;color:#fff;border:none;float:right;margin-top:20px;}
div.wrap>div.main>div.m1>div.content>div.m1-right>input:hover{background:#444444}

/* m2样式 */
div.wrap>div.main>div.m2{width:100%;height:300px;overflow:hidden;}
div.wrap>div.main>div.m2>div.content{width:1140px;height:270px;margin:0 auto;margin-top:30px;overflow:hidden}
div.wrap>div.main>div.m2>div.content>div.m2-left{float:left}
div.wrap>div.main>div.m2>div.content>div>h1{font:25px Roboto;margin-bottom:20px;}
div.wrap>div.main>div.m2>div.content>div.m2-left>p{color:#686868;font:16px Roboto;margin-bottom:10px;}
div.wrap>div.main>div.m2>div.content>div.m2-right{float:right}

/* footer样式 */
div.wrap>div.footer{width:100%;height:260px;background:#444444;position:relative;overflow:hidden}
div.wrap>div.footer>div.content{width:1140px;height:180px;margin:40px auto;}
div.wrap>div.footer>div.content>h1{font:30px Roboto;color:#fff}
div.wrap>div.footer>div.content>ul{width:256px;height:84px;}
div.wrap>div.footer>div.content>ul>li{width:44px;height:44px;float:left;margin:20px 20px 20px 0px;position:relative;overflow:hidden;}
div.wrap>div.footer>div.content>ul>li>div.footer-content-1{width:84px;height:84px;position:absolute;left:0;top:0;}
div.wrap>div.footer>div.content>ul>li>div.footer-content-1>div{width:40px;height:40px;border:2px solid #565656;border-radius:21px;}
div.wrap>div.footer>div.content>ul>li>div.footer-content-1>div>img{width:100%;}
div.wrap>div.footer>div.content>p{color:#fff;font:16px Roboto;margin-bottom:3px;}
div.wrap>div.footer>div.content>p.bottom{margin-top:20px;}
div.wrap>div.footer>div.content>p.bottom>span{color:#F44336}
/* bottom样式 */
div.wrap>div.footer>div.bottom{width:50px;height:50px;position:absolute;bottom:20px;right:50px;}
div.wrap>div.footer>div.bottom>a>img{width:100%;height:100%;}

